body {
  min-width: 1000px;
  max-width: 1300px;
  margin: auto;
  height: 100%;
  padding: 0;
  font-family: sans-serif;
  /* background-image: url('assets/AkilaBerjaoui_JeTaimeCapri.jpg');
  background-size: no-repeat;
  background-position: left; */
}



.video-component-wrapper{
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.video-component-wrapper .image-wrapper{
  width: 600px;
  background-color: black;

}

.video-component-wrapper img{
  width: 300px;
  height: 300px;
  display: block;
  margin: auto;
}

.video-component-wrapper iframe, .react-player{
  height: 45px;
  width: 600px;

}

.playlist-toggle-div{
  width: 600px;
  margin: auto;
}

.playlist-toggle-div div{
  display: inline-block;
  margin-right: 5px;
}

.main-container{
  display: grid;
  width: 600px;
  margin: auto;
  grid-template-columns: 20% auto;

}

.main-container-playlisthidden{
  width: 600px;
  margin: auto;

}

.playlistContainer-wrapper{
  background-color: white;
  position: relative;
  padding-top: 10px;

}

.new-playlist-wrapper{
  display: flex;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

.new-playlist-wrapper i{
  padding-top: 5px;
}
.new-playlist-wrapper input{
  width: 70%;
  margin-right: 5px;
}



.library-wrapper{
  background-color: white;
  height: 300px;
  overflow-y: auto;
}

.library-table{
  width: 700px;
}


.playlistDisplay-wrapper{
  background-color: white;
  height: 300px;
  overflow-y: auto;

}

.track-column-header{
  font-weight: bold;
}
