body {
  min-width: 1000px;
  max-width: 1300px;
  margin: auto;
  height: 100%;
  padding: 0;
  font-family: sans-serif;
  /* background-image: url('assets/AkilaBerjaoui_JeTaimeCapri.jpg') */
}



.video-component-wrapper{
  margin-top: 50px;
  display: flex;
  justify-content: center;
  /* height: 250px; */
}

.video-component-wrapper iframe{

}

.main-container{
  display: grid;
  width: 640px;
  margin: 25px auto 0 auto;
  grid-template-columns: 25% auto;

}

.playlistcontainer-wrapper{

}

.library-wrapper{
  height: 300px;
  overflow-y: auto;
}

.library-wrapper table{


}

.library-wrapper thead{

}

.library-wrapper tbody{
  height: 300px;
  overflow: auto;
}


.track-column-header{
  font-weight: bold;
}
